<div class="loading">
  <mat-spinner *ngIf="status=='loading'"></mat-spinner>
</div>
<mat-tab-group mat-align-tabs="center" *ngIf="status!='loading'">
  <mat-tab label="Tabelas de Valores">

    <mat-accordion>
      <mat-expansion-panel [expanded]="step == i" (opened)="setStep(i)" *ngFor="let tabela of tabelas; let i=index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ tabela.label }}
          </mat-panel-title>
          <mat-panel-description>
            {{ tabela.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card>
          <mat-card-header>
            <mat-card-title>Valores</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="container-input">
              <mat-form-field appearance="outline">
                <mat-label>Colheita (R$ / ha)</mat-label>
                <input matInput [(ngModel)]="tabela.valores.colheita" placeholder="Colheita (R$ / ha)" min="0"
                  type="number">
                <mat-icon matSuffix matTooltip="Valor de corte e derrubada por hectare (R$ / ha)">help_outline
                </mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Frete (R$ / m³)</mat-label>
                <mat-icon matSuffix matTooltip="Custo de envio por m³ (R$ / m³)">help_outline</mat-icon>
                <input matInput [(ngModel)]="tabela.valores.frete" placeholder="Frete (R$ / m³)" min="0" type="number">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Venda (R$ / m³)</mat-label>
                <mat-icon matSuffix matTooltip="Valor de venda por m³ (R$ / m³)">help_outline</mat-icon>
                <input matInput [(ngModel)]="tabela.valores.venda" placeholder="Venda (R$ / m³)" min="1" type="number">
              </mat-form-field>

            </div>
            <div class="container-input">
              <mat-form-field appearance="outline">
                <mat-label>Espaçamento</mat-label>
                <mat-icon matSuffix matTooltip="Utilizado para {{tabela.valores.espacamento.finalidade | lowercase}}">
                  help_outline</mat-icon>
                <mat-select [value]="tabela.valores.espacamento.label" (selectionChange)="ff($event, i)">
                  <mat-option *ngFor="let e of ['3m x 1,5m', '3m x 2m', '3m x 2,5m', '3m x 3m']"
                    [value]="espacamentos[e].label">
                    {{espacamentos[e].label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Arvores / hectare</mat-label>
                <input matInput [value]="tabela.valores.espacamento.total" readonly type="number">
                <mat-icon matSuffix matTooltip="Quantidade de árvores por hectare">help_outline</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Hectares (ha)</mat-label>
                <input matInput [(ngModel)]="tabela.valores.ha" placeholder="Hectares (ha)" min="1" type="number">
                <mat-icon matSuffix matTooltip="Total de hectares utilizado">help_outline</mat-icon>
              </mat-form-field>
            </div>

            <div class="container-input" *ngFor="let volume of tabela.valores.volume">
              <mat-form-field appearance="outline">
                <mat-label>Altura ({{volume.label}})</mat-label>
                <input matInput [(ngModel)]="volume.altura" placeholder="Altura média (m)" min="1" type="number"
                  step="0.1">
                <mat-icon matSuffix matTooltip="Altura média da plantação no {{volume.label}}">help_outline</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Diâmetro ({{volume.label}})</mat-label>
                <input matInput [(ngModel)]="volume.diametro" placeholder="Diâmetro médio (m)" min="0.1" type="number"
                  step="0.1">
                <mat-icon matSuffix matTooltip="Diâmetro médio da plantação no {{volume.label}}">help_outline</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Manutenção ({{volume.label}})</mat-label>
                <input matInput [(ngModel)]="volume.manutencao" placeholder="Custo de manutenção (R$ / ha)" min="0"
                  type="number" step="1">
                <mat-icon matSuffix matTooltip="Custo de manutenção no {{volume.label}} (R$ / ha)">help_outline
                </mat-icon>
              </mat-form-field>
            </div>

          </mat-card-content>
        </mat-card>

        <mat-card *ngFor="let etapa of tabela.etapas; let j=index">
          <mat-card-header>
            <mat-card-title>{{ etapa.label }}</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <table mat-table [dataSource]="etapa.atividades" class="mat-elevation-z8 table-principal">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="label" class="mat-column-atividade">
                <th mat-header-cell *matHeaderCellDef> Atividade </th>
                <td mat-cell *matCellDef="let atividade"> {{atividade.label}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="mdo" class="mat-column-mdo">
                <th mat-header-cell *matHeaderCellDef> Mão de Obra (R$ / ha)</th>
                <td mat-cell *matCellDef="let atividade"> {{ atividade.mdo | currency:'BRL' }} </td>
                <td mat-footer-cell *matFooterCellDef> {{ getTotalMDO(i,j) | currency:'BRL' }} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="insumo" class="mat-column-insumo">
                <th mat-header-cell *matHeaderCellDef> Insumo (R$ / ha)</th>
                <td mat-cell *matCellDef="let atividade"> {{ atividade.insumo | currency:'BRL' }} </td>
                <td mat-footer-cell *matFooterCellDef> {{ getTotalInsumo(i,j) | currency:'BRL' }} </td>
              </ng-container>

              <!-- Star Column -->
              <ng-container matColumnDef="star" stickyEnd class="mat-column-star">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let atividade; let k=index">
                  <button mat-icon-button (click)="selecionar(i,j,k)" [matMenuTriggerFor]="menuAtividade">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
                <td mat-footer-cell *matFooterCellDef> - </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button matTooltip="Adicionar atividade na etapa de {{ etapa.label | lowercase}}"
              matTooltipPosition="above" (click)="addAtividade(i,j)">
              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>

      </mat-expansion-panel>

    </mat-accordion>
  </mat-tab>
  <mat-tab label="Overview" disabled="{{tabelas.length <= 0}}">
    <div class="container-over">
      <table mat-table [dataSource]="displayData" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Weight Column -->
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef> Atividade</th>
          <td mat-cell *matCellDef="let atividade"> {{ atividade.label }} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container [matColumnDef]="column" *ngFor="let column of comparacoes">
          <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
          <td mat-cell *matCellDef="let element"
            [ngClass]="{'lucro': element.tipo == '+', 'despesa': element.tipo == '-'}">
            {{ element.comparacoes[column] }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumnsData"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumnsData;"></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Gráficos">
    <div class="graficos">
      <ngx-charts-line-chart *ngIf="grafLucro" [view]="view" [scheme]="colorScheme" [results]="grafLucro"
        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [autoScale]="autoScale">
      </ngx-charts-line-chart>
    </div>
  </mat-tab>
</mat-tab-group>

<mat-menu #menuAtividade="matMenu">
  <button mat-menu-item (click)="editarAtividade()">
    <mat-icon>create</mat-icon>
    <span>Editar</span>
  </button>
  <button mat-menu-item (click)="delAtividade()">
    <mat-icon>delete</mat-icon>
    <span>Remover</span>
  </button>
</mat-menu>